In [2]:
import pandas as pd

In [4]:
df = pd.read_csv('202311-citibike-tripdata.csv')

C:\Users\18239\AppData\Local\Temp\ipykernel_24068\3551845562.py:1: DtypeWarning: Columns (7) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('202311-citibike-tripdata.csv')

In [6]:
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03 17:48:21,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01 12:54:59,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13 12:23:29,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27 08:49:26,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14 19:20:04,2023-11-14 20:35:12,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887732,B06C26BA0C5E31F8,classic_bike,2023-11-28 09:57:05,2023-11-28 10:03:47,2 Ave & E 122 St,7622.12,2 Ave & E 104 St,7436.11,40.800672,-73.934900,40.789211,-73.943708,member
2887733,536BFFBCD957FCA7,classic_bike,2023-11-30 22:37:43,2023-11-30 22:41:42,5 Ave & 3 St,3987.06,10 St & 7 Ave,3762.08,40.672737,-73.983607,40.666208,-73.981999,member
2887734,BE9FCBED91CADF0B,classic_bike,2023-11-10 13:49:27,2023-11-10 13:53:53,W 47 St & 9 Ave,6786.02,Broadway & W 53 St,6779.05,40.761374,-73.990163,40.763441,-73.982681,member
2887735,CAC97E13CB8AA481,classic_bike,2023-11-20 14:16:31,2023-11-20 14:20:08,1 Ave & E 6 St,5626.15,Cooper Square & Astor Pl,5712.03,40.726226,-73.986142,40.729515,-73.990753,member
2887736,B51FC32482263D7E,classic_bike,2023-11-15 08:27:36,2023-11-15 08:32:22,Christopher St & Greenwich St,5847.01,Spring St & Hudson St,5653.12,40.732916,-74.007114,40.725840,-74.007653,member

In [12]:
df['started_at'] = pd.to_datetime(df['started_at'].dt.date)
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03,2023-11-03 17:58:46,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01,2023-11-01 13:05:23,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13,2023-11-13 12:27:28,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27,2023-11-27 09:03:35,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14,2023-11-14 20:35:12,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887732,B06C26BA0C5E31F8,classic_bike,2023-11-28,2023-11-28 10:03:47,2 Ave & E 122 St,7622.12,2 Ave & E 104 St,7436.11,40.800672,-73.934900,40.789211,-73.943708,member
2887733,536BFFBCD957FCA7,classic_bike,2023-11-30,2023-11-30 22:41:42,5 Ave & 3 St,3987.06,10 St & 7 Ave,3762.08,40.672737,-73.983607,40.666208,-73.981999,member
2887734,BE9FCBED91CADF0B,classic_bike,2023-11-10,2023-11-10 13:53:53,W 47 St & 9 Ave,6786.02,Broadway & W 53 St,6779.05,40.761374,-73.990163,40.763441,-73.982681,member
2887735,CAC97E13CB8AA481,classic_bike,2023-11-20,2023-11-20 14:20:08,1 Ave & E 6 St,5626.15,Cooper Square & Astor Pl,5712.03,40.726226,-73.986142,40.729515,-73.990753,member
2887736,B51FC32482263D7E,classic_bike,2023-11-15,2023-11-15 08:32:22,Christopher St & Greenwich St,5847.01,Spring St & Hudson St,5653.12,40.732916,-74.007114,40.725840,-74.007653,member

In [16]:
df['ended_at'] = pd.to_datetime(df['ended_at'].dt.date)
df

,ride_id,rideable_type,started_at,ended_at,start_station_name,start_station_id,end_station_name,end_station_id,start_lat,start_lng,end_lat,end_lng,member_casual
0,48878C314260EF1D,classic_bike,2023-11-03,2023-11-03,Queens Plaza North & Crescent St,6429.01,31 Ave & Steinway St,6782.01,40.751107,-73.940873,40.761149,-73.917007,member
1,9E0E1583031239C4,classic_bike,2023-11-01,2023-11-01,Queens Plaza North & Crescent St,6429.01,E 74 St & 1 Ave,6953.08,40.751233,-73.940472,40.768974,-73.954823,member
2,FEBB9109BCB32647,classic_bike,2023-11-13,2023-11-13,E 128 St & Madison Ave,7735.23,E 138 St & 5 Ave,7809.13,40.807560,-73.939182,40.814490,-73.936153,member
3,6E5C8C2B6D45B195,classic_bike,2023-11-27,2023-11-27,W 82 St & Central Park West,7304.08,E 74 St & 1 Ave,6953.08,40.782864,-73.971619,40.768974,-73.954823,member
4,29175CDCC2735F4E,classic_bike,2023-11-14,2023-11-14,8 Ave & W 33 St,6450.12,NaN,NaN,40.751657,-73.993607,40.780000,-73.970000,member
...,...,...,...,...,...,...,...,...,...,...,...,...,...
2887732,B06C26BA0C5E31F8,classic_bike,2023-11-28,2023-11-28,2 Ave & E 122 St,7622.12,2 Ave & E 104 St,7436.11,40.800672,-73.934900,40.789211,-73.943708,member
2887733,536BFFBCD957FCA7,classic_bike,2023-11-30,2023-11-30,5 Ave & 3 St,3987.06,10 St & 7 Ave,3762.08,40.672737,-73.983607,40.666208,-73.981999,member
2887734,BE9FCBED91CADF0B,classic_bike,2023-11-10,2023-11-10,W 47 St & 9 Ave,6786.02,Broadway & W 53 St,6779.05,40.761374,-73.990163,40.763441,-73.982681,member
2887735,CAC97E13CB8AA481,classic_bike,2023-11-20,2023-11-20,1 Ave & E 6 St,5626.15,Cooper Square & Astor Pl,5712.03,40.726226,-73.986142,40.729515,-73.990753,member
2887736,B51FC32482263D7E,classic_bike,2023-11-15,2023-11-15,Christopher St & Greenwich St,5847.01,Spring St & Hudson St,5653.12,40.732916,-74.007114,40.725840,-74.007653,member

In [18]:
df = df[['started_at', 'start_station_name', 'end_station_name']]
df

        started_at                start_station_name          end_station_name
0       2023-11-03  Queens Plaza North & Crescent St      31 Ave & Steinway St
1       2023-11-01  Queens Plaza North & Crescent St           E 74 St & 1 Ave
2       2023-11-13            E 128 St & Madison Ave          E 138 St & 5 Ave
3       2023-11-27       W 82 St & Central Park West           E 74 St & 1 Ave
4       2023-11-14                   8 Ave & W 33 St                       NaN
...            ...                               ...                       ...
2887732 2023-11-28                  2 Ave & E 122 St          2 Ave & E 104 St
2887733 2023-11-30                      5 Ave & 3 St             10 St & 7 Ave
2887734 2023-11-10                   W 47 St & 9 Ave        Broadway & W 53 St
2887735 2023-11-20                    1 Ave & E 6 St  Cooper Square & Astor Pl
2887736 2023-11-15     Christopher St & Greenwich St     Spring St & Hudson St

[2887737 rows x 3 columns]

In [21]:
# Concatenate start and end station names into a single column
all_stations = pd.concat([
    df[['started_at', 'start_station_name']].rename(columns={'start_station_name': 'station_name'}),
    df[['started_at', 'end_station_name']].rename(columns={'end_station_name': 'station_name'})
])

# Group by 'started_at' and 'station_name', then count
station_counts = all_stations.groupby(['started_at', 'station_name']).size().reset_index(name='station_visits')

station_counts

      started_at                  station_name  station_visits
0     2023-11-01              1 Ave & E 110 St             119
1     2023-11-01               1 Ave & E 16 St             388
2     2023-11-01               1 Ave & E 18 St             398
3     2023-11-01               1 Ave & E 30 St             390
4     2023-11-01               1 Ave & E 39 St             357
...          ...                           ...             ...
60132 2023-11-30     Wyckoff Ave & Stanhope St             108
60133 2023-11-30            Wyckoff St & 3 Ave              42
60134 2023-11-30  Wythe Ave & Metropolitan Ave             200
60135 2023-11-30           Wythe Ave & N 13 St             137
60136 2023-11-30         Yankee Ferry Terminal               2

[60137 rows x 3 columns]

In [23]:
def get_top_stations(group):
    max_visits = group['station_visits'].max()
    return group[group['station_visits'] == max_visits]

top_stations_per_date = station_counts.groupby('started_at').apply(get_top_stations).reset_index(drop=True)

print(top_stations_per_date)

   started_at                       station_name  station_visits
0  2023-11-01                    W 21 St & 6 Ave            1064
1  2023-11-02                    W 21 St & 6 Ave            1077
2  2023-11-03                 Broadway & W 58 St            1237
3  2023-11-04                 Broadway & W 58 St            1747
4  2023-11-05                 Broadway & W 58 St            1371
5  2023-11-06                    W 21 St & 6 Ave            1153
6  2023-11-07  E 41 St & Madison Ave (SE corner)            1050
7  2023-11-08                    W 21 St & 6 Ave            1125
8  2023-11-09                    W 21 St & 6 Ave            1154
9  2023-11-10                    W 21 St & 6 Ave             981
10 2023-11-11            University Pl & E 14 St             989
11 2023-11-12                    W 21 St & 6 Ave             698
12 2023-11-13                    W 21 St & 6 Ave             954
13 2023-11-14  E 41 St & Madison Ave (SE corner)            1042
14 2023-11-15                    W 21 St & 6 Ave            1051
15 2023-11-16                    6 Ave & W 33 St            1194
16 2023-11-17                    W 21 St & 6 Ave            1134
17 2023-11-18            University Pl & E 14 St             900
18 2023-11-19            University Pl & E 14 St             825
19 2023-11-20                    W 21 St & 6 Ave             808
20 2023-11-21                    W 31 St & 7 Ave             634
21 2023-11-22                 Broadway & W 58 St             794
22 2023-11-23  Grand Army Plaza & Central Park S             769
23 2023-11-24                 Broadway & W 58 St             514
24 2023-11-25             Columbus Ave & W 72 St             466
25 2023-11-26                    W 21 St & 6 Ave             437
26 2023-11-27                    W 21 St & 6 Ave             960
27 2023-11-28  E 41 St & Madison Ave (SE corner)             837
28 2023-11-29             Forsyth St & Broome St            1129
29 2023-11-30                    W 21 St & 6 Ave             958

In [24]:
top_stations_per_date['started_at'].dt.dayofweek

0     2
1     3
2     4
3     5
4     6
5     0
6     1
7     2
8     3
9     4
10    5
11    6
12    0
13    1
14    2
15    3
16    4
17    5
18    6
19    0
20    1
21    2
22    3
23    4
24    5
25    6
26    0
27    1
28    2
29    3
Name: started_at, dtype: int32

In [30]:
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import LabelEncoder
import pandas as pd
from sklearn.metrics import confusion_matrix
from sklearn.metrics import accuracy_score

top_stations_per_date['day_of_week'] = top_stations_per_date['started_at'].dt.dayofweek

X = top_stations_per_date[['day_of_week']]  # Feature
y = top_stations_per_date['station_name']  # Target

le = LabelEncoder()
y_encoded = le.fit_transform(y)

X_train, X_test, y_train, y_test = train_test_split(X, y_encoded, test_size=0.2, random_state=42)

clf = RandomForestClassifier(random_state=42)
clf.fit(X_train, y_train)

# Predictions
predictions = clf.predict(X_test)

# Convert predictions back to station names
predicted_stations = le.inverse_transform(predictions)

confusion_mtx = confusion_matrix(y_test, predictions)  # y_test: true labels, predictions: model's predictions
print(confusion_mtx)

accuracy = accuracy_score(y_test, predictions)
print(f"Accuracy: {accuracy}")

[[0 0 0 0 1]
 [0 0 0 0 1]
 [0 0 1 0 0]
 [0 1 0 0 0]
 [0 0 0 0 2]]
Accuracy: 0.5

In [28]:
predicted_stations

array(['E 41 St & Madison Ave (SE corner)', 'W 21 St & 6 Ave',
       'W 21 St & 6 Ave', 'Broadway & W 58 St', 'W 21 St & 6 Ave',
       'W 21 St & 6 Ave'], dtype=object)